.icgb__image-options {
  .icgb__before-image-wrapper,
  .icgb__after-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .title {
      font-weight: 500;
      font-size: 14px;
    }
  }
  .icgb__after-image-wrapper {
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
  }
}
.icgb-compare-block {
  .icgb-empty-images {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
}
